<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>提示</title>
</head>
<body onLoad="queren();">
<script type="text/javascript">
function queren() {

    var se = confirm("图书已存在，添加失败!");

    if (se == true) {
        window.location.href="{{ url_for('add2suceess') }}";
    } else {
         window.location.href="{{ url_for('add2suceess') }}";

    }
    {#window.onload("{{ url_for("add1suceess") }}", "_self");#}
    {##}
    {#function testclick() {#}
    {#    window.location.href="{{ url_for("add1suceess") }}";#}
}
</script>
</table>
</body>

</html>